:root {

  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-500: 2.5rem;
  --spg-1300: 6.5rem;
  --spg-1700: 8.5rem;

  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey-950: #131518;
  --clr-grey-900: #262E38;
  --clr-grey-500: #969FAD;
  --clr-orange: #FC7614;

  --txt-1: 1.75rem;
  --txt-2: 1.5rem;
  --txt-3: 1rem;
  --txt-4: 0.9375rem;
  --txt-5: 0.875rem;

  --label-dim: clamp(2.625rem, 2.1075rem + 2.25vw, 3.1875rem);

  --clr-gradient: radial-gradient(#232A34, #181E27);
  --sm-radius: 0.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: "Overpass", sans-serif;
  background-color: var(--clr-grey-950);
  color: var(--clr-white);
  display: grid;
  place-items: center;
}

main {
  background: var(--clr-gradient);
  border-radius: var(--sm-radius);
  padding: clamp(var(--spg-400), 1.54rem + 2vw,var(--spg-500)) clamp(var(--spg-300), 1.04rem + 2vw, var(--spg-400)) ;
  width: clamp(20.5rem, 15.4rem + 20vw, 25rem);
}

.rating-container {
  text-align: center;
}

.flow > * + * {
  margin-block-start: var(--flow-gap, var(--spg-200));
}

div:has(.rating-star) {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: var(--clr-grey-900);
  display: grid;
  place-items: center;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.rating-star {
  display: block;
}

h1 {
  font-size: clamp(var(--txt-2), 1.27rem + 1vw, var(--txt-1));
  font-weight: 700;

  --flow-gap: clamp(var(--spg-300), 1.04rem + 2vw, var(--spg-400));
}

p {
  font-size: clamp(var(--txt-5), 0.8175rem + 0.25vw, var(--txt-4));
  line-height: 1.5;
  color: var(--clr-grey-500);
}

.rating-text {
  color: var(--clr-orange);
  background-color: var(--clr-grey-900);
  padding: var(--spg-100) var(--spg-200);
  border-radius: 1.4rem;
  width: max-content;
  margin-inline: auto;

  --flow-gap: clamp(var(--spg-300), 1.04rem + 2vw, var(--spg-400));
}

button {
  border: none;
  background-color: var(--clr-orange);
  border-radius: 1.5rem;
  padding-block: var(--spg-200);
  font-size: var(--txt-5);
  font-weight: 600;
  text-transform: uppercase; 
  letter-spacing: 0.1rem;
  width: 100%;

  --flow-gap: clamp(var(--spg-300), 1.04rem + 2vw, var(--spg-400));
}

button:hover {
  background-color: var(--clr-white);
}

.form-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.attribution {
  font-size: var(--txt-5);
  text-align: center;
}

.attribution a:any-link {
  color: var(--clr-white);
}

label {
  display: grid;
  place-items: center;
  width: var(--label-dim);
  height: var(--label-dim);
  background-color: var(--bg-clr, var(--clr-grey-900));
  color: var(--txt-clr, var(--clr-grey-500));
  padding: var(--spg-100) var(--spg-200);
  font-size: clamp(var(--txt-5), 0.76rem + 0.5vw, var(--txt-3));
  border-radius: clamp(1.3125rem, 1.025rem + 1.25vw, 1.625rem);
}

label:hover {
  --bg-clr: var(--clr-white);
  --txt-clr:  var(--clr-grey-900);
}

input[type="radio"] {
  appearance: none;
  display: none;
}

input[type="radio"]:checked + label {
  --bg-clr: var(--clr-orange);
  --txt-clr: var(--clr-grey-900);
}